
.item{
    box-shadow: 5px 5px 15px 5px rgb(120, 115, 117);
   display: flex;
   align-items: center;
    list-style: none;
   margin: 7px auto;
    max-width: 300px;
    width: 100%;
    background-color: aqua;


    &__avatar{
        display: block;
        padding: 20px 15px;
        
    }

    &__name{
        font-size: 18px;
        font-weight: 700;
    }
    &__statusGreen{
    margin-left: 20px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color:green;
    }
    &__statusRed{
    margin-left: 20px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    }
}