

.transaction {
    width: 400px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    text-align: center;
}

table {
    border-collapse: initial;
    border-spacing: 1px;
}

thead {
    background-color: rgb(111, 109, 245);
}

th {
    height: 50px;
}

tr:nth-child(2n) {
    background-color: rgb(96, 217, 238);
}


