.transaction{
    background-color: antiquewhite;
}
.titleList{
    background-color: aqua;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 200px);
       
}
.listRow{
    text-align: center;
    
    display: grid;
    grid-template-columns: repeat(3, 200px);
    column-gap: 10px;

    &:nth-child(even) {
            background-color: greenyellow;
           
    }
         &:nth-child(odd) {
             background-color: rgb(233, 238, 225);
             
         }

       
}

// .listColumn{
//      display: grid;
//      gap: 10px;
//      background-color: bisque;
//  }



